services:
  app:
    build: ./front
    volumes:
      - ./front:/front
    ports:
      - 3003:3000
    environment:
      - LARAVEL_API=http://api:8000/api/memos
  api:
    build: ./back
    volumes:
      - ./back:/back
    ports:
      - 8003:8000
    depends_on:
      - db
  db:
    image: mysql:8.4
    volumes:
      - ./back/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dev
    ports:
      - 3303:3306

