services:
  app:
    build: ./front
    volumes:
      - ./front:/front
    ports:
      - 3009:3000
  api:
    build: ./back
    volumes:
      - ./back:/back
    ports:
      - 8009:8000
    depends_on:
      - db
  db:
    image: mysql:8.4
    volumes:
      - ./back/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dev
    ports:
      - 3309:3306

